.player {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.time-control {
    width: 50%;
    display: flex;

    input{
        width: 100%;
        padding: 1rem 0rem;
    }
    input[type=range] {
        height: 10px;
        -webkit-appearance: none;
        margin: 10px 0;
        width: 100%;
      }
      input[type=range]:focus {
        outline: none;
      }
      input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 1px 1px 7px #bebebe;
        background: #fffcfc;
        border-radius: 5px;
        border: 1px solid #e6e4ff;
      }
      input[type=range]::-webkit-slider-thumb {
        box-shadow: 0px 0px 1px #c8c1c1;
        border: 0px solid #bab9b6;
        height: 15px;
        width: 15px;
        border-radius: 15px;
        background: #363637;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -3px;
      }
      input[type=range]:focus::-webkit-slider-runnable-track {
        background: #fffcfc;
      }
      input[type=range]::-moz-range-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 1px 1px 7px #bebebe;
        background: #fffcfc;
        border-radius: 5px;
        border: 1px solid #e6e4ff;
      }
      input[type=range]::-moz-range-thumb {
        box-shadow: 0px 0px 1px #c8c1c1;
        border: 0px solid #bab9b6;
        height: 15px;
        width: 15px;
        border-radius: 15px;
        background: #363637;
        cursor: pointer;
      }
      input[type=range]::-ms-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
      input[type=range]::-ms-fill-lower {
        background: #fffcfc;
        border: 1px solid #e6e4ff;
        border-radius: 15px;
        box-shadow: 1px 1px 7px #bebebe;
      }
      input[type=range]::-ms-fill-upper {
        background: #fffcfc;
        border: 1px solid #e6e4ff;
        border-radius: 15px;
        box-shadow: 1px 1px 7px #bebebe;
      }
      input[type=range]::-ms-thumb {
        margin-top: 1px;
        box-shadow: 0px 0px 1px #c8c1c1;
        border: 0px solid #bab9b6;
        height: 15px;
        width: 15px;
        border-radius: 15px;
        background: #363637;
        cursor: pointer;
      }
      input[type=range]:focus::-ms-fill-lower {
        background: #fffcfc;
      }
      input[type=range]:focus::-ms-fill-upper {
        background: #fffcfc;
      }
    p{
        padding: 1rem;
    }
}

.play-control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 30%;

    svg{
        cursor: pointer;
    }
}